<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>test</display-name>
 <servlet>
  <display-name>ListCustomerServlet</display-name>
  <servlet-name>ListCustomerServlet</servlet-name>
  <servlet-class>com.example.controller.ListCustomerServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>SaveCustomerController</display-name>
  <servlet-name>SaveCustomerController</servlet-name>
  <servlet-class>com.example.controller.SaveCustomerController</servlet-class>
 </servlet>
 <servlet>
  <display-name>DeleteCustomerController</display-name>
  <servlet-name>DeleteCustomerController</servlet-name>
  <servlet-class>com.example.controller.DeleteCustomerController</servlet-class>
 </servlet>
 <servlet>
  <display-name>BeforeUpdateController</display-name>
  <servlet-name>BeforeUpdateController</servlet-name>
  <servlet-class>com.example.controller.BeforeUpdateController</servlet-class>
 </servlet>
 <servlet>
  <display-name>UpdateCustomer</display-name>
  <servlet-name>UpdateCustomer</servlet-name>
  <servlet-class>com.example.controller.UpdateCustomer</servlet-class>
 </servlet>
 <servlet>
  <display-name>SearchCustomer</display-name>
  <servlet-name>SearchCustomer</servlet-name>
  <servlet-class>com.example.controller.SearchCustomer</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ListCustomerServlet</servlet-name>
  <url-pattern>/list.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SaveCustomerController</servlet-name>
  <url-pattern>/save.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteCustomerController</servlet-name>
  <url-pattern>/delete.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BeforeUpdateController</servlet-name>
  <url-pattern>/update.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateCustomer</servlet-name>
  <url-pattern>/updatecustomer.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchCustomer</servlet-name>
  <url-pattern>/search.do</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
</web-app>
